<!DOCTYPE html>
<html>
<head>
    <title>Ganti Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <form class="form change-password" method="POST" action="{{ url_for('ganti_password') }}">
            <header>Ganti Password</header>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="password" name="old_password" placeholder="Password Lama" required>
            <input type="password" name="new_password" placeholder="Password Baru" required>
            <input type="submit" value="Ganti Password">
        </form>
    </div>
</body>
</html>